
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');


 
header{
    padding: 100px
    ;
    background-color:#867e6d ;
    text-align: center
    
}
header h1,h2{

  font-family: "Poiret One", sans-serif,Arial, Helvetica, sans-serif;
  font: weight 500px;;
  font-style: normal;

 
    color: rgb(95, 91, 66);
}
header img{
    height: 300px;
    width: 300px;
    border-radius: 600px;
}

main{
    width: 800px;
    margin: 0 auto;

}
main img{
    margin: 0;
    padding: 0;
width: 600px;
padding-left: 11%;
text-align: center;
}

p{
    margin-top: 0% ;
    font-size: 18px;
    color: #867e6d;
    text-align: center;
}
